body {
    margin:0;
    padding:0;
    background-color: #000000;
    max-height: 100vh;
}
.search-bar {
    border-radius: 150px;
    width:40%;
    padding:0.7em;
    background-color: #302e2e;
    display: flex;
    flex-direction: row;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20em;
    color:white;
}
.container h1 {
    font-size: 3em;
}
.sinp {
    width:90%;
    height:inherit;
    background-color:#302e2e;
    border: none;
    color:white;
    margin-left: 0.3em;
}